{% extends 'default.html' %}
{% load my_filters %} {# Подключение кастомных фильров #}

{% block title %} all news {% endblock title %}

{% block content %}
    <h1>Новости</h1>
    <h2>Всего новостей: {{ news|length }}</h2>
    <div><a href="/news/search">Поиск</a></div>
    <div><a href="/news/create">Создать новость</a></div>
        <ul>
            {% for single_news in news %}
                <li>id: {{ single_news.id }}. <b><a href="/news/{{ single_news.id }}">{{ single_news.post_heading|censor }}</a></b>. дата публикации: {{ single_news.post_date_creation|date:'d.m.Y' }}. Текст: {{ single_news.post_text|truncatewords:20|censor }} Автор: {{ single_news.author.user }}
                    <a href="/news/create/{{ single_news.id }}">Редактировать</a> <a href="/news/delete/{{ single_news.id }}">Удалить</a></li>
                <br>
            {% endfor %}
        </ul>
    {% if is_paginated %}
            <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
            {% if page_obj.has_previous %}
                <a href="?page=1">First</a>
                <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
            {% endif %}

            <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a>{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">>>></a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
        {% endif %}
    <br>
    {% if user.is_authenticated %}
        {% if is_not_premium %}
            <button> <a href="upgrade/"> Хочу Premium!</a> </button>
        {% endif %}
    {% endif %}

{% endblock content %}
