{% extends 'default.html' %}
{% load my_filters %}
{% block title %} Search {% endblock title %}

{% block content %}
    <div><a href="/news/">Назад</a></div>
    <form method="GET">
        {{ filter.form.as_p }} <!-- Форму от фильтров за нас сделает django. А вот кнопку, увы придётся делать самому -->
        <input type="submit" value="Найти">
    </form>
    <ul>
    {% for single_news in filter.qs %}
        <li>id: {{ single_news.id }}. <b><a href="/news/{{ single_news.id }}">{{ single_news.post_heading|censor }}</a></b>. дата публикации: {{ single_news.post_date_creation|date:'d.m.Y' }}. Текст: {{ single_news.post_text|truncatewords:20|censor }} Автор: {{ single_news.author.user }}</li>
        <br>
    {% endfor %}
</ul>

{% endblock content %}


